<!-- Analytics -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//{{ request.get_host }}/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//{{ request.get_host }}/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Analytics Code -->

<!-- Heatmaps -->
<script type="text/javascript" src="//{{ request.get_host }}/analytics/plugins/ClickHeat/libs/js/clickheat.js">
</script>

<script type="text/javascript"><!--
clickHeatSite = 1;clickHeatGroup = encodeURIComponent(window.location.pathname+window.location.search);clickHeatServer = '//{{ request.get_host }}/analytics/plugins/ClickHeat/libs/click.php';initClickHeat(); //-->
</script>
<!-- End Heatmaps Code -->
