.plot-container {
	background-color: #fff;
	height: 100%;
}

/******
	CHART
	*****/
.plot-container #chart-container {
	height: 500px;
	min-width: 310px;
	max-width: 100%;
	margin: 0 auto;
}


.font-weight-bold {
  font-weight: bold;
}

